/* Horarios content */

.horarios-container {
    font-family: sans-serif;
}

.tables-container {
    display: flex;
}

/* Individual Alocation */

.individual-alocation-container {
    justify-content: space-between;
    background-color: #e9ecef;
    margin-top: 1em;
    border-radius: 9px;
    padding: 0.5em 1em
}

.individual-alocation-container p {
    font-size: 1.3rem;
}

